@model Account

@{
    ViewBag.Title = "New Account";
    Layout = "_Layout";
}

<h2 class="title is-2">New Account</h2>

<form asp-action="Create" method="post">
    <div class="field">
        <label asp-for="Name" class="label"></label>
        <div class="control">
            <input type="text" asp-for="Name" class="input">
        </div>
        <span asp-validation-for="Name" class="help is-danger"></span>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-primary">Save</button>
        </div>
        <div class="control">
            <a asp-action="Index" class="button is-danger">Cancel</a>
        </div>
    </div>
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}